.text_1{
	text-shadow:
	10px 0 3px #4D1818FF, 
	15px -2px 10px #000000FF;
	font-size: 100px;
	color: #7F0000FF;
	text-align: center;
	margin-bottom: 40px;
}

.text_2{
	text-shadow: 
	-15px 15px 25px #41B0BDCD, 
	20px 0 25px  #41B0BDCD,
	40px 15px 25px #41B0BDCD;
	font-size: 100px;
	color: #199BE5FF;
	text-align: center;
	margin-bottom: 60px;
}

.text_3{
	text-shadow:
	0 0 15px #FF0400FF,
	0 -15px 20px #FF4600FF,
	0 -25px 25px #F8060FFF,
	-10px -30px 20px #F2AD0CFF,
	10px -30px 20px #F2AD0CFF;
	font-size: 100px;
	color: #8E0000FF;
	text-align: center;
	margin-bottom: 60px;
}

.box{
	width:500px;
	height:150px;
	background:#AAEC12FF;
	margin:0 auto;
	margin-bottom:100px;
}

 .box_1{
 	box-shadow: 20px 20px 25px #4F9A45FF;
 }

 .box_2{
 	box-shadow: inset 0 0 35px 7px red;
 	border-radius: 50%;

 }

.button {
	box-shadow: 10px 20px 30px #12ADECFF;
  	background-color:#3DAFC6FF;
  	width: 300px;
  	padding: 30px;
  	text-align: center;
  	margin: 0 auto;
  	margin-bottom: 100px;
  	border: 2px inset #9194FF8C;
}

 .button:hover{
 	box-shadow: inset 0 0 35px #8DDA24FF;
 	background: red;
 	border-radius: 18px;
 	border: none;
 }

a{
	color: #fff;
	text-decoration: none;
	font-size: 30px;
}

.overflow{
	border: double;
	white-space: nowrap;
	overflow: hidden; 
    padding: 15px;
    text-overflow: ellipsis;
	width:300px;
	margin:0 auto;
	margin-bottom:70px;
}