@charset "UTF-8";
/* CSS Document */

@media(max-width:1199px){
.page{
	padding-bottom: 499px;
}
}
	
@media(max-width:991px){
.page{
	padding-bottom: 538px;
}
}
	
	
@media(max-width:767px){
.page{
	padding-bottom: 789px;
}
}

@media(max-width:470px){
.page{
	padding-bottom: 789px;
}
	}
@media(max-width:400px){
	.page{
	padding-bottom: 809px;
}
	}


